@use "../variables.scss" as *;

.dashboard {
    &__media-type-title {
        position: relative;
        margin: $size-m auto $size-2xl;
        text-align: center;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -$size-m;

            display: block;
            width: 50%;
            margin: 0 auto;
            height: $size-2xs;

            border-radius: $size-lg;

            background-color: $color-primary;
        }
    }

    &__genre-list {
        display: flex;
        flex-direction: column;
        gap: $size-2xl;

        margin-bottom: $size-4xl;
    }

    @media (max-width: $bp-tablet) {
        &__genre-list {
            gap: $size-5xl;
        }
    }
}
