@use "../variables.scss" as var;

.dashboard {
    .media-type-title {
        margin-bottom: var.$size-2xl;
    }

    &__genre-list {
        display: flex;
        flex-direction: column;
        gap: var.$size-2xl;
    }

    @media (max-width: var.$bp-tablet) {
        &__genre-list {
            gap: var.$size-5xl;
        }
    }
}
