@use "../variables.scss" as *;

.dashboard {
    .media-type-title {
        margin-bottom: $size-2xl;
    }

    &__genre-list {
        display: flex;
        flex-direction: column;
        gap: $size-2xl;
    }

    @media (max-width: $bp-tablet) {
        &__genre-list {
            gap: $size-5xl;
        }
    }
}
