@use "../variables.scss" as *;

.genre-menu {
    margin-top: $size-2xl;
    margin-bottom: $size-2xl;
    padding: 0;
    list-style: none;

    max-width: $size-8xl * 2.75;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $size-sm;

    li {
        flex-grow: 1;
        max-width: fit-content;
    }
    a {
        text-align: center;
        display: block;
        color: $color-primary-lightest;
        text-decoration: none;
        font-size: $size-m;

        border: 2px solid $color-primary-lightest;
        padding: $size-2xs $size-sm;
        border-radius: $size-xs;

        &.active {
            color: $color-secondary-light;
            border-color: $color-secondary-light;
        }
    }
}
