@use "../global.scss" as var;

.dashboard-genre {
    display: flex;
    gap: var.$size-m;

    &__title {
        flex-basis: 250px;
        min-width: 250px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var.$size-xs;

        background-color: var.$color-primary-darkest;
        color: var.$color-primary-lighter;

        border-radius: var.$size-xs;

        text-decoration: none;
    }

    &__total {
        font-size: var.$size-m;
        margin: 0;
        opacity: 0.6;
        font-style: italic;
    }

    .media-card {
        max-width: calc(100% / 15);

        &:nth-of-type(n + 17) {
            display: none;
        }
    }

    @media (max-width: 3000px) {
        .media-card {
            max-width: calc(100% / 14);

            &:nth-of-type(n + 16) {
                display: none;
            }
        }
    }
    @media (max-width: 2750px) {
        .media-card {
            max-width: calc(100% / 13);

            &:nth-of-type(n + 14) {
                display: none;
            }
        }
    }
    @media (max-width: 2500px) {
        .media-card {
            max-width: calc(100% / 11);

            &:nth-of-type(n + 12) {
                display: none;
            }
        }
    }
    @media (max-width: 2250px) {
        .media-card {
            max-width: calc(100% / 9);

            &:nth-of-type(n + 10) {
                display: none;
            }
        }
    }
    @media (max-width: 2000px) {
        .media-card {
            max-width: calc(100% / 6);

            &:nth-of-type(n + 8) {
                display: none;
            }
        }
    }

    @media (max-width: var.$bp-desktop-large) {
        flex-wrap: wrap;

        &__title {
            flex-basis: 100%;
        }
        .media-card {
            max-width: calc(25% - var.$size-sm);
        }
    }
    @media (max-width: var.$bp-tablet) {
        .media-card {
            max-width: calc(33% - var.$size-sm);
        }
    }
    @media (max-width: var.$bp-mobile) {
        .media-card {
            max-width: calc(50% - var.$size-sm);
        }
    }
}
