@use "../global.scss" as var;

.media-card {
    display: block;
    position: relative;
    overflow: hidden;

    max-width: 200px;
    flex-basis: 18%;
    flex-grow: 1;

    color: var.$color-primary-lightest;
    text-decoration: none;

    border-radius: var.$size-xs;

    &__details {
        position: absolute;
        bottom: var.$size-0;
        left: var.$size-0;
        right: var.$size-0;

        padding: var.$size-lg var.$size-xs var.$size-sm;

        color: var.$color-primary-lightest;
        background-image: linear-gradient(to bottom, transparent -5%, rgba(var.$color-primary-darkest, 0.8) 30%);
    }

    &__title {
        margin: 0;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
