@use "./global.scss" as var;

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var.$size-lg;
    padding: var.$size-2xs var.$size-xl;
    background-color: var.$color-primary-darkest;

    p {
        max-width: 100%;

        font-size: var.$size-sm;
    }
}
